.question-container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttons {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.finish-button {
  background-color: rgb(244, 202, 202);
  border: none;
}
.next-button {
  display: flex;
  border: none;
  align-items: center;
  background-color: rgb(231, 210, 251);
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}
